<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ecust.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="lib.clsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".act_MainActivity"
            android:label="@string/title_activity_act__main_page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ecust.mlkz.act_MLKZ_Home"
            android:label="@string/title_activity_act__mlkz__home_page" />
        <activity
            android:name="ecust.mlkz.act_MLKZ_Login"
            android:label="梅陇客栈-账户登陆" />
        <activity
            android:name="ecust.news.act_News_Catalog"
            android:label="@string/title_activity_act__ecust__news" />
        <activity
            android:name="ecust.news.act_News_Detail"
            android:label="@string/title_activity_act__news__detail" />
        <activity
            android:name="ecust.lecture.act_Lecture_Catalog"
            android:label="讲座信息" />
        <activity
            android:name="ecust.lecture.act_Lecture_Detail"
            android:label="讲座详情" />
        <activity
            android:name="ecust.school_calendar.act_School_Calendar"
            android:label="校历" />
        <activity
            android:name="ecust.demotest.testDemoActivity"
            android:label="@string/title_activity_test_demo" />
        <activity
            android:name="ecust.mlkz.act_MLKZ_Secondary_Page"
            android:label="@string/title_activity_act__mlkz__secondary__page" >
        </activity>
    </application>

</manifest>
