<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ecust.main"
    android:versionCode="2"
    android:versionName="1.1">

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 友盟数据统计所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:icon="@drawable/ic_launch"
        android:label="华理助手"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".act_MainActivity"
            android:label="@string/title_activity_act__main_page" />
        <activity
            android:name="ecust.news.activity_News_Catalog"
            android:label="@string/title_activity_act__ecust__news" />
        <activity
            android:name="ecust.news.act_News_Detail"
            android:label="@string/title_activity_act__news__detail" />
        <activity
            android:name="ecust.lecture.activity_Lecture_Catalog"
            android:label="讲座信息" />
        <activity
            android:name="ecust.lecture.act_Lecture_Detail"
            android:label="讲座详情" />
        <activity
            android:name="ecust.school_calendar.activity_School_Calendar"
            android:label="校历" />
        <activity
            android:name="ecust.demotest.testDemoActivity"
            android:label="@string/title_activity_test_demo">
        </activity>
        <activity
            android:name=".SplashWindow_1"
            android:label="@string/title_activity_splash_window_1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ecust.library.LibraryHomeActivity"
            android:label="@string/title_activity_activity_library" />
        <activity
            android:name="ecust.library.books_query.activity.BooksQueryActivity"
            android:label="@string/title_activity_activity_books_query" />
    </application>

</manifest>
